version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: finance-backend
    ports:
      - "5001:5000"
    environment:
      FLASK_ENV: development
      MONGODB_URI: mongodb://root:rootpass@mongo:27017/financialdb?authSource=admin
      REDIS_HOST: redis
      REDIS_PORT: 6379
      DEFAULT_ADMIN_USERNAME: Nicolas Schell
      DEFAULT_ADMIN_PASSWORD: Admin@1234
      DEFAULT_ADMIN_EMAIL: 21242@ecam.be
    depends_on:
      - mongo
      - redis
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
    container_name: finance-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6.0
    container_name: finance-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpass
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express:1.0.2-20
    container_name: mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_OPTIONS_EDITORTHEME: "default"
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: rootpass
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: adminpw
    depends_on:
      - mongo

  redis:
    image: redis:7-alpine
    container_name: finance-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
  redis-data:
